[SERVICE]
    Flush        1
    Log_Level    info
    Parsers_File parsers.conf

[INPUT]
    Name    tail
    Path    /var/log/*.log
    Tag     system.logs

[OUTPUT]
    Name         http
    Match        *
    Host         {{ fluentbit_output_host }}
    Port         {{ fluentbit_output_port }}
    {{ '# Optional auth if configured' if fluentbit_output_user is defined }}
    {{ 'HTTP_User ' + fluentbit_output_user if fluentbit_output_user is defined }}
    {{ 'HTTP_Passwd ' + fluentbit_output_pass if fluentbit_output_pass is defined }}
